<?php $customer = $this->getCustomer(); ?>
<div class="box-dates">
    <!--Order Information-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-account">Dates</h4>
        </div>
        <div class="fieldset">
            <table cellspacing="0" class="form-list">
                <tbody>
                    <tr>
                        <td class="label"><label>Created Date</label></td>
                        <td class="value"><strong><?php echo date_format(date_create($customer->getCreatedDate()),'d/m/Y H:i:s'); ?></strong></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Last Status Update</label></td>
                        <td class="value"><strong><?php echo date_format(date_create($customer->getStateChange()),'d/m/Y H:i:s'); ?></strong></td>
                    </tr>
                    <tr>
                        <td class="label"><label>Last Modified</label></td>
                        <td class="value"><strong><?php echo date_format(date_create($customer->getLastModified()),'d/m/Y H:i:s'); ?></strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>