<?php
if ($this->isExistingInstaller()) {
    $reliability = $this->getReliabilityMatrix();
    $service = $this->getServiceMatrix();
    $profit = $this->getProfitMatrix();
    ?>
    <div class="box-installer-details">
        <div class="entry-edit installer-spec">
            <div class="entry-edit-head">
                <h4 class="icon-head head-account">Reliability Matrix</h4>
            </div>
            <div class="fieldset">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label>Total Jobs</label></td>
                            <td class="value"><?php echo $reliability['total_jobs']; ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label>Total Completed</label></td>
                            <td class="value"><?php echo $reliability['total_completed']; ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label>Total Outstanding</label></td>
                            <td class="value"><?php echo $reliability['total_outstanding']; ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label><strong>Reliability Rating</strong></label></td>
                            <td class="value"><strong><?php echo $reliability['rating']; ?>%</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="entry-edit installer-spec">
            <div class="entry-edit-head">
                <h4 class="icon-head head-account">Service Matrix</h4>
            </div>
            <div class="fieldset">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label>Total Finished</label></td>
                            <td class="value"><?php echo $service['total_finished']; ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label>Total Completed</label></td>
                            <td class="value"><?php echo $service['total_completed']; ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label>Total Cancelled</label></td>
                            <td class="value"><?php echo $service['total_cancelled']; ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label><strong>Service Rating</strong></label></td>
                            <td class="value"><strong><?php echo $service['rating']; ?>%</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="entry-edit installer-spec">
            <div class="entry-edit-head">
                <h4 class="icon-head head-account">Profitability Matrix</h4>
            </div>
            <div class="fieldset">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label"><label>Total Job Revenue</label></td>
                            <td class="value">£<?php echo $profit['total_job_revenue'] ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label>Total Profit</label></td>
                            <td class="value">£<?php echo $profit['total_profit'] ?></td>
                        </tr>
                        <tr>
                            <td class="label"><label>Total Installer Cost</label></td>
                            <td class="value">£<?php echo $profit['total_installer_cost'] ?></td>
                        </tr>
                        <tr>
                        <td class="label"><label><strong>Profitability Rating<strong></label></td>
                            <td class="value"><strong><?php echo $profit['profit_rating'] ?>%</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="entry-edit installer-spec overview">
            <div class="entry-edit-head">
                <h4 class="icon-head head-account">Overview</h4>
            </div>
            <div class="fieldset">
                <table cellspacing="0" class="form-list">
                    <tbody>
                        <tr>
                            <td class="label">Overall Ranking</td>
                            <td class="value"><?php echo $this->getRanking(); ?></td>
                        </tr>
                        <tr>
                            <td class="label">&nbsp;</td>
                            <td class="value">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="label">&nbsp;</td>
                            <td class="value">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="label"><label><strong>Overall Rating</strong></label></td>
                            <td class="value"><h2><?php echo $this->getOverallRating(); ?> / 100</h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <?php
}