<div class="bar chart">
    <div class="content-header">
        <table cellspacing="0">
            <tbody>
                <tr>
                    <td style="width:50%;">
                        <h3 class="icon-head">Total Monthly Profit</h3>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <?php
    $profit = $this->monthBarProfit();
    $cost = $this->monthBarCost();
    ?>
    <script type="text/javascript">
        var loadBar = function () {
            var day = new CanvasJS.Chart("dayChart",
            {
                title:{
                    text: ""
                },
                animationEnabled: true,
                axisY: {
                    title: "Quoted",
                    titleFontColor: "#eb5e00",
                    titleFontSize: 18,
                    titleFontFamily: "Arial",
                    labelFontSize: 16,
                    valueFormatString: "£######.##"
                },
                axisX: {
                    title: "Month",
                    titleFontColor: "#eb5e00",
                    titleFontSize: 18,
                    titleFontFamily: "Arial",
                    labelFontSize: 16,
                    interval: 1
                },
                legend: {
                    verticalAlign: "bottom",
                    horizontalAlign: "center",
                    fontFamily: "Arial"
                },
                theme: "theme1",
                data: [
                {
                    type: "stackedColumn",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    toolTipContent:"Profit: £{y}",
                    dataPoints: [
                    <?php $monthsOfYear = array('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'); ?>
                    <?php
                    foreach ($profit as $key => $value)
                    {
                        ?>
                        { y:<?php echo $value; ?>, legendText:"<?php echo $monthsOfYear[$key]; ?>", label: "<?php echo $monthsOfYear[$key]; ?>" },
                        <?php
                    }
                    ?>
                    ]
                },
                {
                    type: "stackedColumn",
                    showInLegend: false,
                    legendMarkerColor: "grey",
                    toolTipContent:"Cost: £{y}",
                    dataPoints: [
                    <?php $monthsOfYear = array('Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'); ?>
                    <?php
                    foreach ($cost as $key => $value)
                    {
                        ?>
                        { y:<?php echo $value; ?>, legendText:"<?php echo $monthsOfYear[$key]; ?>", label: "<?php echo $monthsOfYear[$key]; ?>" },
                        <?php
                    }
                    ?>
                    ]
                }
                ]
            });
            day.render();
        }
    </script>

    <div id="dayChart" style="height: 300px; width: 600px;"></div>
    <script>
        loadBar();
    </script>
</div>