<?php
$customer = $this->getCustomer();
?>
<div class="box-property">
	<!--Order Information-->
	<div class="entry-edit">
		<div class="entry-edit-head">
			<h4 class="icon-head head-account">Property Details</h4>
		</div>
		<div class="fieldset">
			<table cellspacing="0" class="form-list">
				<tbody>
					<tr>
						<td class="label"><label>Build</label></td>
						<td class="value"><strong><?php echo $customer->getProperty(); ?></strong></td>
					</tr>
					<tr>
						<td class="label"><label>Project Type</label></td>
						<td class="value"><strong><?php echo ucwords($customer->getProjectType()); ?></strong></td>
					</tr>
					<?php
					if(strlen($customer->getAdditionalInfo()) > 0)
					{
						?>
						<tr>
							<td class="label"><label>Additional Info</label></td>
							<td class="value"><strong><?php echo $customer->getAdditionalInfo(); ?></strong></td>
						</tr>
						<?php
					}
					?>
				</tbody>
			</table>
		</div>
	</div>
</div>